/* Write your CSS here */
.list {
  display: flex;
  flex-direction: row;
  width: 300px;
  border: 1px solid white;
  border-radius: 15px;
  margin: 10px;
  align-items: center;
  height: 120px;
  padding: 5px;
}
.link {
  text-decoration: none;
}
.team-img {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
.team-name {
  font-size: 25px;
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
}
